
/* FOOTER */
.foot{
    height: 50px; 
    background-color: rgb(93,189,186);
    margin-top: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0px;
}