<div class="col-3">
  <div class="carrito  col-12">
    <div class="pedido row ">
      <div class="col-12"><div>Tu pedido</div></div>
      
    </div>
    <div class="producto1 row justify-content-between">
        <div class="col-3"><div *ngFor = "let p of listaCompra">{{p.nombre}}</div></div>
        <div class="col-1"><div *ngFor = "let p of listaCompra">{{p.precio}}€</div></div>
        
      </div>
    
    <div class="row ">
        <div class="total col-9"><div>Total:</div></div>
        <div class="total col-3"><div>{{sumarTotal()}}€</div></div>
      </div>
    </div>
    <div class="calcular row ">
        <div (click) = "handleClick()" class="calc col-12"><div>Quitar</div></div>
      </div>
  </div>

