<div class="col-3">
  <div class="carrito  col-12">
    <div class="pedido row ">
      <div class="col-12"><div>Tu pedido</div></div>
      
    </div>
    <div class="producto1 row justify-content-between">
        <div class="col-3"><div>pedido</div></div>
        <div class="col-1"><div>30€</div></div>
        
      </div>
    
    <div class="row ">
        <div class="total col-9"><div>Total:</div></div>
        <div class="total col-3"><div>300€</div></div>
      </div>
    </div>
    <div class="calcular row ">
        <div class="calc col-12"><div>Reiniciar Pedido</div></div>
      </div>
  </div>