<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-9">
            <app-lista-productos  (onSend) = "handleOnSend($event)" [productos]="comida" titulo="¿Qué hay de comida?"></app-lista-productos>
            <app-lista-productos  (onSend) = "handleOnSend($event)" [productos]="bebida" titulo="¿Y de bebida?"></app-lista-productos>
            <app-lista-productos  (onSend) = "handleOnSend($event)" [productos]="postre" titulo="Nuestros postres"></app-lista-productos>
        </div>
        <app-carrito [listaCompra] = "listaProductos"></app-carrito>
    </div>
</div>
<app-footer></app-footer>
